{% extends "base.html.twig" %}

{% block body %}

<div class="upload_form_container upload_form_container2">
    {{ form_start(form) }}
        <button type="submit">Edit</button>
    {{ form_end(form) }}
</div>
{% endblock %}